In [2]:
import pandas as pd

# Load the CSV files into DataFrames
df_final_output = pd.read_csv('output_with_classifications_regex.csv')
df_selected_columns_output = pd.read_csv('classificationLLM.csv')

# Merge the DataFrames on the 'text_clean' column
df_merged = pd.merge(df_final_output, df_selected_columns_output, on='text_clean', suffixes=('_final', '_selected'))

# Calculate the agreement or similarity rate
# Here, we're checking how many rows have the same value in 'test_debt_type_numeric' and 'classification_numeric'
agreement_rate = (df_merged['test_debt_type_numeric'] == df_merged['classification_numeric']).mean()

print(f'Agreement Rate: {agreement_rate:.2%}')

Agreement Rate: 6.68%

In [16]:
import pandas as pd

# Load the CSV files into DataFrames
df_final_output = pd.read_csv('output_with_classifications_regex.csv')
df_selected_columns_output = pd.read_csv('classificationLLM.csv')

# Merge the DataFrames on the 'text_clean' column
df_merged = pd.merge(df_final_output, df_selected_columns_output, on='text_clean', suffixes=('_final', '_selected'))

# Print column names to verify the correct column names
print("Column names in merged DataFrame:")

df_merged = df_merged.drop(columns=['label_final','label_selected'])
print(df_merged.columns)
df_merged.head()

Column names in merged DataFrame:
Index(['text_clean', 'test_debt_type_numeric', 'classification_numeric'], dtype='object')

,text_clean,test_debt_type_numeric,classification_numeric
0,add tests for systemdrawingcommonthis issue tr...,1,3
1,acctests for packetfabricportresource please k...,5,3
2,text analytics abstractivesummarizebatchconven...,5,3
3,see entity recordssee the story in the release...,5,3
4,editor crash when click mesh instance 3d with ...,5,2

In [17]:
import pandas as pd

# Assuming df_merged is already created and looks like the DataFrame you described
# If you need to load or merge data, ensure that df_merged is correctly formed

# Create a cross-tabulation of the categories
category_matches = pd.crosstab(df_merged['test_debt_type_numeric'], df_merged['classification_numeric'])

# Print the cross-tabulation
print("Category Matching Table:")
print(category_matches)

Category Matching Table:
classification_numeric     1    2     3    4   5
test_debt_type_numeric
1                        494  151   863   66   4
2                        124   75   273   14   0
3                          5    1    16    1   0
4                         61   16   140   19   0
5                       2149  884  3629  305  18

In [18]:
import pandas as pd

# Assuming df_merged is already created and looks like the DataFrame you described
# If you need to load or merge data, ensure that df_merged is correctly formed

# Calculate the agreement rate as the percentage of matching entries
agreement_rate = (df_merged['test_debt_type_numeric'] == df_merged['classification_numeric']).mean() * 100

# Print the agreement rate
print(f'Agreement Rate: {agreement_rate:.2f}%')

Agreement Rate: 6.68%

In [20]:
import pandas as pd

# Assuming df_merged is already created and looks like the DataFrame you described
# If you need to load or merge data, ensure that df_merged is correctly formed

# Function to calculate agreement rate for each category, expressed as a percentage
def calculate_agreement(group):
    return 100 * (group['test_debt_type_numeric'] == group['classification_numeric']).mean()

# Group by 'test_debt_type_numeric' and apply the calculate_agreement function
agreement_rates_by_category = df_merged.groupby('classification_numeric').apply(calculate_agreement)

# Print the agreement rates for each category
print("Agreement Rates by Category:")
print(agreement_rates_by_category)

Agreement Rates by Category:
classification_numeric
1    17.437346
2     6.654836
3     0.325137
4     4.691358
5    81.818182
dtype: float64

In [22]:
import pandas as pd

# Assuming df_merged is already created and looks like the DataFrame you described
# If you need to load or merge data, ensure that df_merged is correctly formed

# Add a new column 'category_match' to the DataFrame
df_merged['category_match'] = df_merged.apply(lambda row: "Same Category" if row['test_debt_type_numeric'] == row['classification_numeric'] else "Different Category", axis=1)

# Print the updated DataFrame to see the new column
df_merged.head()

,text_clean,test_debt_type_numeric,classification_numeric,category_match
0,add tests for systemdrawingcommonthis issue tr...,1,3,Different Category
1,acctests for packetfabricportresource please k...,5,3,Different Category
2,text analytics abstractivesummarizebatchconven...,5,3,Different Category
3,see entity recordssee the story in the release...,5,3,Different Category
4,editor crash when click mesh instance 3d with ...,5,2,Different Category

In [24]:
import pandas as pd

# Assuming df_merged and the 'category_match' column have already been created
# If not, first create the 'category_match' column as previously described

# Filter the DataFrame to show only rows where 'category_match' is 'Same Category'
df_same_category = df_merged[df_merged['category_match'] == "Same Category"]

# Print the filtered DataFrame
df_same_category

,text_clean,test_debt_type_numeric,classification_numeric,category_match
10,deprecate testcasegetmockbuilderthese deprecat...,1,1,Same Category
42,ci reinstate performance testthe performance t...,2,2,Same Category
91,refactor testsutilities remove the conditional...,1,1,Same Category
103,random 403s on lower environments can cause sp...,1,1,Same Category
109,do not change the order of execution of a base...,1,1,Same Category
...,...,...,...,...
9162,explore options for minimizing content on left...,1,1,Same Category
9183,srcinterpreterssortedblockswritercpp25965 runt...,1,1,Same Category
9194,failing test chrome xpack observability ui fun...,1,1,Same Category
9195,modify phpcodesniffer to allow see with arbitr...,1,1,Same Category
9227,failing test chrome xpack ui functional tests ...,1,1,Same Category